@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css');


*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

:root{
  --cor1: #A4243B;
  --cor2: #D8C99B;
  --cor3: #D8973C;
  --cor4: #BD632F;
  --cor5: #273E47;

}

body{
  font-family: "Quicksand", sans-serif;
  line-height: 1.5em;
  background-color: var(--cor2);
  color: var(--cor5);
}

header{
  background-color: var(--cor1);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: sticky;
  top: 0;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a{
  text-decoration: none;
  color: var(--cor2);
  font-weight: bold;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color .5s, color, .5s;
}


nav#menu a:hover{
  background-color: var(--cor3);
  color:var(--cor2);

}

main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
}

section#ficha{
  margin-top: 20px;
  background-color: var(--cor3);
  padding: 20px;
  border-radius: 5px;
  grid-column: 2;
}

section#ficha img{
  display: block;
  margin: auto;
  width: 250px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: bottom center;
  overflow: hidden;
  border: 5px solid var(--cor3);
  outline: 5px solid var(--cor1);
}

section#ficha h1{
  margin: 15px 0px;
  color: var(--cor1);
  font-size: 2.4em;
  text-align: center;
  line-height: 1.2em;
}

div#social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.5em;
  gap: 1em;
}

div#social a{
  text-decoration: none;
  color: var(--cor1);
  padding: 15px;
  border-radius: 5px;
}

div#social a:hover{
  transition: color .5s;
  color: var(--cor2);
  background-color: var(--cor1);
  
}

section#detalhes{
  display: grid;
  row-gap: 20px;
  grid-column: 2;
  
}


article{
  display: grid;
  grid-column: 2;
  background-color: var(--cor3);
  border-radius: 5px;
  padding: 15px;
}

article h2{
  color: var(--cor1);
  margin-bottom: 15px;
}
.skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap:30px

}

.skill-container .info{
  display: flex;
  justify-content: space-between;
  align-content: center;

}

.skill-container .nome{
  font-weight: bold;
  color: var(--cor5);
}

.skill-container .porcento{
  font-weight: bold;
  color: var(--cor1);
}

.skill-container .barra{
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--cor2);
}

.skill-container .progresso{
  height: 100%;
  background-color: var(--cor1);
  border-radius: 5px;
}

#formacao-container{
  display: flex;
  flex-direction: column-reverse;
  gap:5px;
  
}

#formacao-container .curso{
  border-radius: 5px;
  border-left: 5px solid var(--cor1);
  background-color: var(--cor2);
  padding: 5px 0px 5px 15px;
  
}

#formacao-container .curso:hover{
  border-left-width: 10px;

}
#projeto-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#projeto-container .projeto{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--cor3);
  border-radius: 5px;
  border-left: 5px solid var(--cor1);
  padding: 15px;
  background-color: var(--cor2);
}
#projeto-container .projeto:hover{
  border-width: 10px;
}
#projeto-container .foto{
  width: 100%;
  aspect-ratio: 12/6;
  object-fit: cover;
  object-position: top left;
  overflow: hidden;
  border-radius: 5px;
  
}
#projeto-container .descricao p{
  padding: 5px;
  color: var(--cor1);
  font-weight: bold;

}
#projeto-container .descricao > summary:hover{
  cursor: pointer;
  font-weight: bold;
  
}

footer {
  background-color: var(--cor3);
  color: var(--cor1);
  font-style: italic;
  font-weight: 600;
  margin-top: 15px;
}

footer > p{
  padding: 2px 5px;

}

footer a{
  text-decoration: none;
  color: var(--cor5);
  font-weight: bold;
}

footer a:hover{
  color: var(--cor2);
}

@media screen and (min-width: 768px) {
  main{
    grid-template-columns: auto 500px 1fr auto;
  }

  section#ficha{
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 65px;
    z-index: 0;
  }

  section#detalhes{
    margin-top: 20px;
    grid-column: 3 / 4;
    width: 100%;
    justify-content: stretch;
    
  }

  #ficha > h1{
    padding: 15px;
  }
  
  #ficha > p{
    max-height: fit-content;
    text-align: justify;
    margin: auto;
  }

  .skill-container{
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .projeto-info{
    width: 70%;

  }
  #projeto-container .foto{
    width: 30%;
    aspect-ratio: 1/1;
    max-height: 200px;
    outline: 2px solid var(--cor1);
  }
}

